table, th, td {
    border: thin solid black;
    border-collapse: collapse;
    background-color: lightgrey;
}
thead th {
    padding: 0 0.8em;
    background-position: left-center;
    background-repeat: no-repeat;
    background-color: lightgrey;
}
tbody tr td {
    background-color: white;
}
th.table-sortable {
    background-image: url("sortable.png");
}
th.table-sorted-asc {
    background-image: url("sorted-up.png");
}
th.table-sorted-desc {
    background-image: url("sorted-down.png");
}
tfoot td {
    padding: 0.5em;
    border: none;
}
.filters {
    padding: 0.25em;
    border: thin black solid;
    float: right;
    background-color: lightgrey;
    display: none;
}
